﻿@using WebApplication2.Clases;

@model IEnumerable<EspecialidadCLS>
@{
    ViewBag.Title = "Index";
    //string mensaje = ViewBag.Mensaje;
    string nombreEspecialidad = ViewBag.nombreEspecialidad;
}
@*<h1>@mensaje</h1>*@
<p></p>
<form asp-controller="Especialidad" asp-action="Index" method="post" class="mb-2"
      style="display:grid;grid-template-columns:1fr 2fr 1fr 1fr" id="frmFormulario">
    <label>Ingrese nombre especialidad</label>
    <input type="text" id="nombre" class="rom form-control" name="nombre" value="@nombreEspecialidad" />
    <input type="submit" value="Buscar" class="btn btn-info" />
    <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()" />
</form>
    

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id Especialidad</th>
            <th>Nombre</th>
            <th>Descripcion</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (EspecialidadCLS oEspecialidad in Model)
        { 
            <tr>
                <td>@oEspecialidad.iidespecialidad</td>
                <td>@oEspecialidad.nombre</td>
                <td>@oEspecialidad.descripcion</td>
            </tr>
        
        }
    </tbody>
</table>

<script>
    function Limpiar() {
        document.getElementById("nombre").value = "";
        document.getElementById("frmFormulario").submit();
    }
</script>

