﻿@model IEnumerable<WebApplication2.Clases.TipoUsuarioCLS>

@{
    ViewBag.Title = "Index";
 string nombre =   ViewBag.Nombre;
  string descripcion =  ViewBag.Descripcion;
  int iidtipousuario =   ViewBag.iidTipoUsuario;
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<from asp-controller="TipoUsuario" asp-action="Index">
    <input type="submit" value="Enviar" class="btn btn-primary" />
           <table  style="color:black" class="table" >
        <thead class="table-bordered" >
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.iidTipoUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th></th>
            </tr>

            <tr>
                <th>
                    <input type="number" name="iidTipoUsuario" class="from from-control" />
                </th>
                <th>
                    <input type="text" name="nombre" class="from from-control" />
                </th>
                <th>
                    <input type="text" name="descripcion" class="from from-control" />
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.iidTipoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</from>